{% extends 'base.html' %}

{% block title %}Tour #{{contest.id}}{% endblock %}

{% block content %}

<header>
<h1>OpenTour #{{contest.id}}: {{contest.name}}</h1>		
{% if participation.is_ended %}
	<h2><a href="{% url 'contests:results' contest.id %}">Results</a></h2>
{% endif %}
</header>

<h3><p id="timer"></p></h3>

		<script>
			var countDownDate = new Date("{{participation.js_ending_time}}").getTime();
			var x = setInterval(function() {
			  var now = new Date().getTime();
				
			  var distance = countDownDate - now;
			  var minutes = Math.floor(distance / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			  document.getElementById("timer").innerHTML = "Remaining " + minutes + ":" + ("0"+seconds).slice(-2);
			  if (distance < 0) {
			    clearInterval(x);
			    document.getElementById("timer").innerHTML = "Upsolving.";
			  }
			}, 1000);
		</script>


<div class="problems">
	{% for problem in problems %}
		<div class="problem">
		<a href="http://oj.uz/problem/view/{{problem.oj_id}}" target="_blank">{{problem.name}}</a>
		</div>
	{% endfor %}
</div>
    
{% endblock %}
